{% extends 'festivals/layout.html' %}

{% block content %}
    <!-- Inhoud -->
    <div class="container">
        <div class="page-header">
            <h1>{{ festival.name }}</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ festival.logo.url }}" alt="{{ festival.name }}" />
                        <div class="caption">
                            <h3>{{ festival.name }}</h3>
                            <p>
                                {{ festival.description|linebreaks }}
                            </p>
                        </div>

                    </div>
            </div>
        </div>
    </div>
{% endblock content %}
