{% extends 'festivals/layout.html' %}

{% block nav-festivals %}
    <li class="active"><a href="/">Festivals<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block content %}
    <!-- Inhoud -->
    <div class="container">
        <div class="page-header">
            <h1>{{ festival.name }}</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3>Omschrijving</h3>
                <p>
                    {{ festival.description|linebreaks }}
                </p>

                <h3>Artiesten</h3>
                {% for artist in festival.performers.all %}
                    {{ artist }}
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3>Wanneer:</h3>
                <p>
                    {{ festival.start_date }} - {{ festival.end_date}}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
